<!-- Boulder -->
  <div class="content" ng-show="conditionals.boulder">

{{conditionals.boulder}}
    <h3>You chose to climb the boulder <em> +7 pts </em> </h3>
      <img src={{tempGif}} alt="story image">
        <p>Wow! That was a sketchy climb...Cool view though! It looks like there's a river across the field to the east. However, you're feeling a little hungry and you've got a snack in your bag.</p>
      <p>Do you want to go check out the river to the WEST, or EAT your snack now? Keep in mind you may be on this adventure for a while...</p>
    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
             ng-model="choice"
             name="usr_choice"
             class="input"
             placeholder="WEST/EAT">
      </input>
    </form>
  </div>

<!-- Puppy -->
  <div class="content" ng-show="conditionals.puppy">
    <h3>You chose to pet the puppy <em> +14 pts </em> </h3>
      <img ng-src="{{tempGif}}" alt="story image">

      <p>The puppy looks to be alone, and is super fluffy. What do you do?</p>
      <p>KEEP him, or LEAVE him where he is and continue on.</p>
    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
             ng-model="choice"
             name="usr_choice"
             class="input"
             placeholder="Keep/Leave">
      </input>
    </form>
  </div>

  <!-- Tree -->
    <div class="content" ng-show="conditionals.tree">
      <h3>You chose to make a walking stick</h3>
        <img src={{tempGif}}
             alt="story image">
        <p>...Someone's adventurous!</p>
        <p>After you make a proper walking stick, you wander around and start to hear sounds indicating that there's a river nearby. Probably a mile to the east. Earlier, you also heard that there's also a cave the same distance to the west.</p>
        <p> Do you walk WEST to the river, or EAST to the cave?</p>

      <form ng-submit="getGif(choice)">
        <label class="prompt">  >>$ </label>
        <input type="text"
               ng-model="choice"
               name="usr_choice"
               class="input"
               placeholder="East/West">
        </input>
      </form>
    </div>
