<!-- East-->
  <div class="content">
    <h3> The Cave! <em> +5 pts </em> </h3>
      <img src="{{tempGif}}"
           alt="story image">
    <p>You see a shiny thing towards the back of the cave, by the wall. You also see, closer to you, is a makeshift stairwell that seems to go to a lower level of the cave.</p>
    <p>Do you go deeper into the cave to go check out this SHINY object, or do you go down the STAIRS to see whats going on down there?</p>
    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
             ng-model="choice"
             name="usr_choice"
             class="input"
             placeholder="Shiny/Stairs">
      </input>
    </form>
  </div>
