<!-- East-->
  <div class="content">
    <h3> The Cave! <em> +5 pts </em> </h3>
      <img src="{{tempGif}}"
           alt="story image">
    <p>You see a shiny thing towards the very back of the cave. You also notice right next to you is a makeshift stairwell that seems to go to a lower level of the cave.</p>
    <p>Do you go deeper into the cave to go check out that SHINY object, or do you go down the STAIRS to see what's going on down there?</p>
    <form ng-submit="getGif(choice, $event)" name="input">
      <label class="prompt">  >>$ </label>
      <input type="text"
             ng-model="choice"
             name="usr_choice"
             class="input"
             ng-pattern="inputs.east"
             placeholder="Shiny/Stairs">
      </input>
    </form>
    <p class="warning"
       ng-show="input.usr_choice.$error.pattern" 
       style="color:red">Please choose one of the options listed above (lower case).</p>
  </div>
