<!-- Run -->
  <div>
    <section class="content">
      <h3>You're Running!</h3>
      <img src="{{tempGif}}"
           alt="story image">
      <p>The aliens don't seem to be chasing you, and you've made your way out of the cave and into the field.</p>
      <p>Do you want to keep running to TOWN and put this experience behind you, or try to find someone to TELL about the aliens?</p>
    </section>

    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
             ng-model="choice"
             name="usr_choice"
             class="input"
             placeholder="Town/Tell">
      </input>
    </form>
  </div>
