<!-- Run -->
<div class="content">
  <section>
    <h2>You're Running!</h2>
    <em class="pts"> -3 points for exhaustion </em>
    <img ng-src="{{tempGif}}"
         alt="story image">
    <p>The aliens don't seem to be chasing you, and you've made your way out of the cave and into the field.</p>
    <p>Do you want to keep running to TOWN and put this experience behind you, or try to find someone to TELL about the aliens?</p>
  </section>

  <form ng-submit="getGif(choice, $event)" name="input">
    <label class="prompt">  >>$ </label>
    <input type="text"
           ng-model="choice"
           name="usr_choice"
           class="input"
           ng-pattern="inputs.run"
           placeholder="Town/Tell">
    </input>
  </form>
  <p class="warning"
     ng-show="input.usr_choice.$error.pattern"
     style="color:red">
     Please choose one of the options listed above (lower case).
  </p>
</div>
