<div class="content start">
  <h3>Behold!</h3>
  <img src="https://media3.giphy.com/media/HVr4gFHYIqeti/giphy-downsized.gif">
  <p>You're standing under a tree. Before you is a giant boulder and to the left is a puppy.</p>
    <p>You have three options, pet the PUPPY, climb the BOULDER, or make a walking stick from a branch on the TREE.</p>

  <form ng-submit="getGif(choice, $event)" name="input">
    <label class="prompt">  >> $ </label>
    <input type="text"
           ng-model="choice"
           name="usr_choice"
           class="input"
           md-autofocus
           ng-pattern="inputs.pbt"
           placeholder="Boulder/Puppy/Tree">
    </input>
  </form>
  <p class ="warning" ng-show="input.usr_choice.$error.pattern" style="color:red">Please choose one of the options listed above (lower case).</p>
</div>
