<!-- Stay -->
  <div>
    <section class="content">
      <h3>You're just hanging at the river.</h3>
      <img src="{{tempGif}}"
           alt="story image">
      <p>While you're basking in the glorious sunlight, something odd flies overhead. It looks like a spaceship!! The Spaceship looking like it's coming directly over you, gearing up to abduct you!</p>
      <p>You have found your new fate: as an earthling on a planet of aliens. You've always wanted people to think you had an accent anyways.</p>

      <a ng-click="reload()"><button>Play Again</button></a>
    </section>
  </div>
