<!-- Town -->
<div class="content">
    <section class="content">
      <h2>You made it!</h2>
      <em class="pts"> +3 points </em>
      <img ng-src="{{tempGif}}"
             alt="story image">
      <p>You've made it to town and want to treat yourself after a long and herroing day.</p>
      <p>Do you want to get a BEER or a COFFEE?</p>
    </section>
    <form ng-submit="getGif(choice, $event)" name="input">
      <label class="prompt">  >>$ </label>
      <input type="text"
              ng-model="choice"
              name="usr_choice"
              class="input"
              ng-pattern="inputs.town"
              placeholder="Beer/Coffee">
      </input>
    </form>
    <p class="warning" ng-show="input.usr_choice.$error.pattern" style="color:red">Please choose one of the options listed above (lower case).</p>
  </div>
