<!-- Town -->
  <div ng-show="conditionals.town">
    <section class="content">
      <h2>You made it!</h2>
      <em class="pts"> +3 points </em>
      <img ng-src="{{tempGif}}"
             alt="story image">
      <p>You've made it to town and want to treat yourself after a long and herroing day.</p>
      <p>Do you want to get a BEER or a COFFEE?</p>
    </section>
    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
              ng-model="choice"
              name="usr_choice"
              class="input"
              placeholder="Beer/Coffee">
      </input>
    </form>
  </div>
