<!-- Trust -->
  <div class="content"
    <h3> Good Instincts! </h3>
      <img src="{{tempGif}}"
             alt="story image">
    <p>Turns out this person is trustworthy and is really stoked you returned their treasure and wants to reward you with a gold chain of your choice from the teasure chest!</p>
    <p>Today was long, you want to treat yourself for your good ded, do you go get COFFEE or BEER to end out your day?</p>

    <form ng-submit="getGif(choice)">
      <label class="prompt">  >>$ </label>
      <input type="text"
              ng-model="choice"
              name="usr_choice"
              class="input"
              placeholder="Beer/Coffee">
      </input>
    </form>
  </div>
